modules = ["python-3.11"]

[deployment]
deploymentTarget = "vm"
run = ["bash", "start.sh"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["gitFull", "openssl", "playwright-driver", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
stack = "FLASK_VANILLA_JS"
integrations = ["python_openai_ai_integrations:1.0.0"]

[userenv]

[userenv.shared]
AI_INTEGRATIONS_OPENAI_BASE_URL = "http://localhost:1106/modelfarm/openai"
AI_INTEGRATIONS_OPENAI_API_KEY = "_DUMMY_API_KEY_"
EMAIL_PASS = "hezo iydj tdnp idfa"
ADMIN_ROLE_ID = "1304508123054211092"
BINANCE_PAY_ID = "1037986525"
BINANCE_TITULAR = "Agustín Nahuel Marquesini"
DISCORD_GUID_ID = "1306653592798625892"
EMAIL_USER = "markediscord@gmail.com"
MP_ACCESS_TOKEN = "APP_USR-1963602011414117-042622-5580e7e4b1366348303e6c5698643495-770480922"
NX_ALIAS = "agusmarquesini.nx"
NX_CBU = "4530000800012463323851"
NX_TITULAR = "Agustín Nahuel Marquesini"
TELEGRAM_API_ID = "34144170"
TELEGRAM_API_HASH = "02d0b1d002e87fd3addc4ea0fafabdc2"
PROXY_PORT = "10065"
PROXY_USER = "DGZADAXFF"
PROXY_PASS = "DGZADAXFF"
DISCORD_GUILD_ID = "1306653592798625892"
SHOP_PASS = "Rulypachuli420"
SHOP_USER = "mynameismarque@gmail.com"
PROXY_IP = "108.181.215.247"
PROXY_TYPE = "HTTP"
TELEGRAM_SESSION = "1AZWarzYBu6JxH7KFRiSJtZBiQAbWRMxTRgN8Q5aL0mLV7R51S31nPPtPmBLYoEJ0UsYT91Ecz21j_Gt2RD4HdJgNuMbVTcFm8f7ThCyAS8zh7tv7J_F8IeptTa_Y1ggx844ekNL-rbGKptoK8Rxtdf-H8g5agDjJdXXS5t7uIsOJIHA0egrVumm25fTsvminn0uHZy_-VsLCj_yNFo6WM74JRW40fcrIuqNPyos6-gieSf7rHz4ycbPC9yAZnWrrEkc3ezPpU_Hy5Skhv486aD1YSY2ShWo1vzY2lChBUXkbkXfwJ2L-GqvvT-ozSjFMgEN0ryLthTNnnVI8faf2Ku-G7y__tL0="
