modules = ["python-3.11"]

[deployment]
deploymentTarget = "vm"
run = ["bash", "start.sh"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["gitFull", "openssl", "playwright-driver", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
stack = "FLASK_VANILLA_JS"
integrations = ["python_openai_ai_integrations:1.0.0"]

[userenv]

[userenv.shared]
AI_INTEGRATIONS_OPENAI_BASE_URL = "http://localhost:1106/modelfarm/openai"
AI_INTEGRATIONS_OPENAI_API_KEY = "_DUMMY_API_KEY_"
EMAIL_PASS = "hezo iydj tdnp idfa"
ADMIN_ROLE_ID = "1304508123054211092"
BINANCE_PAY_ID = "1037986525"
BINANCE_TITULAR = "Agustín Nahuel Marquesini"
DISCORD_GUID_ID = "1306653592798625892"
EMAIL_USER = "markediscord@gmail.com"
MP_ACCESS_TOKEN = "APP_USR-1963602011414117-042622-5580e7e4b1366348303e6c5698643495-770480922"
NX_ALIAS = "agusmarquesini.nx"
NX_CBU = "4530000800012463323851"
NX_TITULAR = "Agustín Nahuel Marquesini"
TELEGRAM_API_ID = "22085021"
TELEGRAM_API_HASH = "fc43c5c9d58870e5c6fb3218fcab5ef8"
PROXY_PORT = "10065"
PROXY_USER = "DGZADAXFF"
PROXY_PASS = "DGZADAXFF"
DISCORD_GUILD_ID = "1306653592798625892"
SHOP_PASS = "Rulypachuli420"
SHOP_USER = "mynameismarque@gmail.com"
PROXY_IP = "108.181.215.247"
PROXY_TYPE = "HTTP"
TELEGRAM_SESSION = "1AZWarzYBuxgMhwm6oNjv-gB1mgHOqBoyRpR9RHHe0FhXzJdmlS03ajQv7ly0iM73iU-kpvnDLDtiEA-z9AHSbCIg6vvSjvLQNhEhAv7kic6FqA40YegRSiBFczmJU7MvkqEOZEJh9iVrRH5uw98-SGqFueOS20dABxymTi2zqJC5ySzKbgZS662LCauZP6oWFdJfMpnm-2hyThvN7si-ag36DitIA0g66ipd1qY8juLUibsEZrr4fD9ahImr4m8_pw0Aw0kXXCxCbQQbFkWRS-HFJ_1foANRsayAhlWj59cJ0gYYJiUHuQmTBbfrq-aCtUTSDpEaxQuRrhVQZPkwU7YZ9rdko="
